h1{
    color: wheat;
    text-align: center;
}
.about_main{
    display: flex;
}
.text{
    width: 70%;
    height: 100%;
    color:#3b807e;
    margin-left: 5rem;
    margin-right: 5rem;
}
.image_about
{
    width: 30%;
    height: 100%;
    overflow: hidden;
}
.img{
    height: 22rem;
    clip-path: circle(45%);
    
}