.navbar_main{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    padding: 0;
    margin: 0;
}
.logo{
    width: 20%;
    padding-top: 2rem;
}
span{
    color: aqua;
    padding-left: 0.5rem;
}
.navlink{
    width: 80%;
    float: left;
    padding-left: 20rem;
    color: white;
    padding-top: 2rem;
}
.link{
    color: white;
    padding:10px;
    text-decoration: none;
    /* margin-top: 10px; */
}
.link_contact{
    float: right;
    color: white;
    padding: 10px;
    text-decoration: none;
    padding-top: 5px;
}
.link:hover{
    text-decoration: dotted;
    text-transform: uppercase;
    text-decoration: underline;
}
.link_contact:hover{
    text-decoration: underline;
    text-transform: uppercase;
    border-radius: 5rem;
}